header {
  > a {
    display: inline-block;
  }

  > nav {
    > span {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      cursor: pointer;
    }

    > ul {
      list-style-type: none;
      display: none;
      flex-direction: column;
      
      li {
        text-align: center;
        
        a {
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > nav {
      > span {
        display: none;
      }
      
      > ul {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
      }
    }
  }
}
